
[submodule "Data\\Packages\\mdTodo"]
	path = Data\\Packages\\mdTodo
	url = https://github.com/groenewege/mdTodo.git

[submodule "Data\\Packages\\phpcs_requires\\PHP-CS-Fixer"]
	
        path = Data\\Packages\\phpcs_requires\\PHP-CS-Fixer
	        url = https://github.com/FriendsOfPHP/PHP-CS-Fixer.git
